.markdown {
  @apply text-xl leading-loose;

  /**
  * -----------------------------------
  *   Block quote
  * -----------------------------------
  */
  blockquote {
    @apply text-gray-700 ml-0 my-8 bg-gray-100 p-4 border-l-2 border-primary rounded;

    &.warning {
      @apply border-yellow-300 bg-yellow-50;
    }

    .quotation {
      @apply mb-0;
    }
    .author {
      @apply italic font-bold mt-0;
    }
  }

  /**
  * -----------------------------------
  *   Mark
  * -----------------------------------
  */
  mark {
    @apply bg-yellow-200;
  }

  /**
  * -----------------------------------
  *   Heading
  * -----------------------------------
  */

  h2 {
    @apply text-2xl border-b-2 border-gray-200;
  }
  h3 {
    @apply text-xl font-bold;
  }

  /**
  * -----------------------------------
  *   Paragraph
  * -----------------------------------
  */
  p {
    @apply my-5;
    &::first-child {
      @apply mt-0;
    }

    &::last-child {
      @apply mb-0;
    }
  }

  /**
  * -----------------------------------
  *   List
  * -----------------------------------
  */
  ul {
    @apply list-outside list-decimal;
  }
  ol {
    counter-reset: foo;
    display: table;
  }

  ol > li {
    counter-increment: foo;
    display: table-row;
  }

  ol > li::before {
    content: counter(foo) '.';
    display: table-cell; /* aha! */
    text-align: right;
  }

  .techdiary-embed {
    position: relative;
    padding-top: 56%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  a {
    @apply text-primary font-bold;
    &:hover {
      @apply underline;
    }

    &.techdiary-embeded-link {
      @apply hover:no-underline;
    }
  }

  strong {
    @apply font-bold;
  }

  // syntax highliter
  .hljs {
    @apply rounded-md my-5;
    &:first-child {
      @apply mt-0;
    }

    &:last-child {
      @apply mb-0;
    }
  }

  figure {
    @apply my-5;

    figcaption {
      @apply text-sm text-gray-600 italic text-center mt-2;
    }

    &:first-child {
      @apply mt-0;
    }

    &:last-child {
      @apply mb-0;
    }
  }

  hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
    &:after,
    &:before {
      display: table;
      content: '';
    }

    &:after {
      clear: both;
    }
  }
}

.todo {
  list-style: none !important;

  &__item {
    @apply flex space-x-2 items-center;
  }

  &__state {
    width: 20px;
    height: 20px;
    background-color: #dfe2e5;
    border-radius: 100%;
    margin-right: 6px;
    position: relative;

    &--checked {
      background-color: #58d4e1;
      &::after {
        position: absolute;
        top: 6px;
        left: 5px;
        width: 9px;
        height: 4px;
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        background: transparent;
        content: '';
        opacity: 1;
        transform: rotate(-45deg);
      }
    }
  }
}
