@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-dark {
    @apply text-gray-900 dark:text-gray-200;
  }
  .text-dark-secondary {
    @apply text-gray-600 dark:text-gray-300;
  }
  .text-dark-tertiary {
    @apply text-gray-400 dark:text-gray-600;
  }

  .bg-dark {
    @apply bg-gray-900 dark:bg-gray-200;
  }
  .bg-dark-secondary {
    @apply bg-gray-600 dark:bg-gray-300;
  }
  .bg-dark-tertiary {
    @apply bg-gray-100 dark:bg-gray-600;
  }
}
.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #e9eef1;
  overflow: hidden;
}
@import 'base';
@import 'content-typography';
@import "loader";
@import 'fonts';
@import 'loader';

.top-full {
  top: 100%;
}

*::selection {
  @apply bg-primary text-gray-800;
}

.ce-block--selected .ce-block__content {
  @apply dark:bg-gray-800;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: auto;
  position: relative;
  @apply py-20;
}

.techdiary-body {
  @apply dark:bg-gray-900 font-techdiary;
}
